<h1>Linkin Park fan page</h1>

<%= link_to "NEWS", :controller => :news, :action => :nws %>
<%= link_to "REVIEW", :controller => :info, :action => :inf %>
<%= link_to "BIOGRAPHY", :controller => :glowny, :action => :idx %>
<%= link_to "BLOGS", :controller => :blog, :action => :blg %>
<br>
<h2>Songs:</h2>
<% @sng.each do |place| %>
<h3><%= place.title %><h3>
<% end %>
